Source: ros-noetic-network-interface
Section: misc
Priority: optional
Maintainer: AutonomouStuff Software Development Team <software@autonomoustuff.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin, ros-noetic-message-generation, ros-noetic-roslint, ros-noetic-rosunit, ros-noetic-std-msgs
Homepage: http://wiki.ros.org/network_interface
Standards-Version: 3.9.2

Package: ros-noetic-network-interface
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-message-runtime, ros-noetic-std-msgs
Description: Network interfaces and messages.
