Source: ros-foxy-network-interface
Section: misc
Priority: optional
Maintainer: AutonomouStuff Software Development Team <software@autonomoustuff.com>
Build-Depends: debhelper (>= 9.0.0), ros-foxy-ament-cmake-auto, ros-foxy-std-msgs, ros-foxy-ros-workspace, ros-foxy-rosidl-typesupport-fastrtps-c, ros-foxy-rosidl-typesupport-fastrtps-cpp, ros-foxy-rosidl-typesupport-connext-c, ros-foxy-rosidl-typesupport-connext-cpp
Homepage: http://wiki.ros.org/network_interface
Standards-Version: 3.9.2

Package: ros-foxy-network-interface
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-foxy-std-msgs, ros-foxy-ros-workspace
Description: Network interfaces and messages.
